## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [7]:
(r, c) = app_train.shape
print('row數：%s' % r)
print('column數：%s' % c)

row數：307511
column數：122

#### 列出所有欄位

In [14]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [20]:
filter1 = (app_train["CNT_CHILDREN"] == 1)
filter2 = (app_train["FLAG_OWN_REALTY"] == "Y")
app_train[filter1 & filter2]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
10,100014,0,Cash loans,F,N,Y,1,112500.0,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
17,100021,0,Revolving loans,F,N,Y,1,81000.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19,100023,0,Cash loans,F,N,Y,1,90000.0,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
21,100025,0,Cash loans,F,Y,Y,1,202500.0,1132573.5,37561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
27,100032,0,Cash loans,M,N,Y,1,112500.0,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
45,100052,0,Revolving loans,F,N,Y,1,90000.0,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
51,100059,0,Cash loans,M,Y,Y,1,540000.0,675000.0,34596.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,3.0
58,100069,0,Cash loans,M,Y,Y,1,360000.0,640458.0,27265.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
73,100085,0,Cash loans,M,N,Y,1,157500.0,755190.0,28894.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
74,100086,0,Cash loans,F,N,Y,1,135000.0,675000.0,21775.5,...,0,0,0,0,0.0,0.0,0.0,1.0,4.0,2.0
75,100087,0,Cash loans,F,N,Y,1,202500.0,1288350.0,37800.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
78,100093,0,Cash loans,F,N,Y,1,94500.0,585000.0,28273.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
109,100129,0,Revolving loans,F,Y,Y,1,85500.0,135000.0,6750.0,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0
110,100130,1,Cash loans,F,N,Y,1,157500.0,723996.0,30802.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
121,100142,0,Cash loans,M,Y,Y,1,360000.0,579195.0,27994.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
124,100145,0,Cash loans,F,Y,Y,1,202500.0,260725.5,16789.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
126,100147,0,Cash loans,F,N,Y,1,135000.0,518562.0,22099.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
148,100175,0,Cash loans,F,N,Y,1,202500.0,1251072.0,45067.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
153,100180,0,Cash loans,F,N,Y,1,315000.0,1288350.0,37800.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,3.0
155,100182,0,Revolving loans,F,N,Y,1,112500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
169,100198,0,Cash loans,M,Y,Y,1,135000.0,531000.0,32616.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
172,100201,0,Cash loans,F,N,Y,1,180000.0,675000.0,36747.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,6.0
175,100204,0,Cash loans,F,N,Y,1,81000.0,532494.0,30699.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
181,100210,0,Cash loans,F,N,Y,1,202500.0,771493.5,25627.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
184,100214,1,Cash loans,F,N,Y,1,202500.0,436032.0,28516.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
189,100219,0,Cash loans,M,N,Y,1,315000.0,2250000.0,83515.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
199,100231,0,Cash loans,M,Y,Y,1,108000.0,912240.0,30276.0,...,0,0,0,0,0.0,1.0,0.0,0.0,0.0,2.0
206,100239,0,Cash loans,F,N,Y,1,225000.0,1483231.5,51687.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
234,100272,0,Revolving loans,F,N,Y,1,135000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307251,455968,0,Cash loans,F,N,Y,1,135000.0,1024290.0,30078.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,5.0
307259,455976,0,Cash loans,F,Y,Y,1,202500.0,1312110.0,55723.5,...,0,0,0,0,0.0,0.0,0.0,2.0,1.0,1.0
307291,456014,0,Cash loans,F,N,Y,1,112500.0,50940.0,5877.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307295,456018,0,Cash loans,F,N,Y,1,310500.0,645903.0,39645.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307296,456019,0,Cash loans,M,Y,Y,1,157500.0,900000.0,50256.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307299,456022,0,Cash loans,F,N,Y,1,90000.0,1005120.0,29520.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
307309,456033,0,Cash loans,F,Y,Y,1,117000.0,1089000.0,31842.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307317,456041,0,Cash loans,F,Y,Y,1,202500.0,599544.0,21663.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
307321,456045,0,Cash loans,F,N,Y,1,112500.0,808650.0,23643.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307330,456054,0,Cash loans,M,Y,Y,1,180000.0,323388.0,34087.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,1.0
307332,456056,0,Revolving loans,M,N,Y,1,193500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307339,456064,0,Cash loans,F,Y,Y,1,184500.0,540000.0,30150.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307346,456071,0,Cash loans,F,N,Y,1,90000.0,579942.0,33421.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,6.0
307359,456084,0,Cash loans,F,Y,Y,1,99000.0,675000.0,21906.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307367,456092,0,Cash loans,F,N,Y,1,58500.0,351000.0,17199.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307376,456101,0,Cash loans,M,N,Y,1,81000.0,364896.0,16200.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307382,456107,0,Cash loans,M,Y,Y,1,225000.0,1437799.5,42169.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307383,456108,1,Cash loans,F,N,Y,1,135000.0,457834.5,33444.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307407,456140,1,Cash loans,F,Y,Y,1,261000.0,711454.5,47673.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
307408,456141,0,Cash loans,F,Y,Y,1,112500.0,237024.0,18855.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307442,456180,0,Cash loans,M,Y,Y,1,135000.0,90000.0,9580.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307449,456187,0,Cash loans,M,Y,Y,1,315000.0,1175314.5,38974.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307455,456194,0,Cash loans,M,N,Y,1,157500.0,225000.0,15165.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307468,456208,0,Cash loans,F,N,Y,1,135000.0,305955.0,21888.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307472,456212,0,Cash loans,F,N,Y,1,135000.0,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307473,456213,0,Cash loans,F,Y,Y,1,90000.0,258709.5,20439.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307479,456219,0,Cash loans,F,N,Y,1,112500.0,521280.0,31630.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307485,456229,0,Revolving loans,F,N,Y,1,270000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307486,456230,0,Cash loans,F,Y,Y,1,292500.0,355536.0,18283.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307502,456246,0,Cash loans,F,N,Y,1,94500.0,225000.0,10620.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子